/*!
 * taskTable.css
 * Versión - 1.0.0
 * Author - Marco Antonio González Cortés <antonio.cortes.1901@gmail.com>
 *
*/
.task_table {
  background: #FFFFFF;
}
.task_table__th {
  border-bottom: 2px solid #C7CAD1 !important; /*No se recomienda usar "!important"; Se usa por que bootstrap sobre-escribe el valor*/
  font-weight: 500;
}
.task_table__th--title {
  padding-left: 8px !important; /*No se recomienda usar "!important"; Se usa por que bootstrap sobre-escribe el valor*/
}
.task_table__td {
  border-bottom: 1px solid #E4E5E9;
}
.task_table__td--check {
  padding-right: 0px !important; /*No se recomienda usar "!important"; Se usa por que bootstrap sobre-escribe el valor*/
  padding-left: 19px !important; /*No se recomienda usar "!important"; Se usa por que bootstrap sobre-escribe el valor*/
  width: 40px;
}
.task_table__td--title {
  padding-left: 8px !important; /*No se recomienda usar "!important"; Se usa por que bootstrap sobre-escribe el valor*/
  width: 160px;
}
.task_table__td--created {
  width: 276px;
}
.task_table__icon--completed {
	color: #00875F;
}