/*!
 * taskButtonCreate.css
 * Versión - 1.0.0
 * Author - Marco Antonio González Cortés <antonio.cortes.1901@gmail.com>
 *
*/
.button {
  border-color: #FFFFFF;
  background: #FFFFFF;
}
.button:hover {
  border-color: #F4F5F7;
  background: #F4F5F7;
}
.button__title {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0px;
}
.button__title--primary {
  color: #405EBF;
}